.app-container {
  display: flex;
}

.other-comp {
  width: 100%;
  padding-bottom: 30px;
}
.navbar-comp {
  position: sticky;
  top: 0;
}

/* .other-comp {
  width: calc(100vw - 200px);
  left: 200px;
  position: relative;
} */
