.app-container-active {
  position: relative;
}
.app-container {
  display: flex;
}

.other-comp {
  width: 100%;
}
.navbar-comp {
  position: sticky;
  top: 0;
}

/* .other-comp {
  width: calc(100vw - 200px);
  left: 200px;
  position: relative;
} */
