* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page-width {
  padding: 50px 80px;
}
@media screen and (min-width: 750px) and (max-width: 1023px) {
  .page-width {
    padding: 30px 50px;
  }
}
@media screen and (max-width: 749px) {
  .page-width {
    padding: 30px 10px;
  }
}
