.education-section {
  background-color: #e6e3e3;
}
.education-intro {
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.education-section h1 {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}
hr {
  width: 300px;
}
.education-container {
  /* background-color: #eb3440; */
  background-color: #ffffff;
}

.vertical-timeline-element-content p {
  margin: 0 !important;
}
.vertical-timeline-element-date {
  font-size: 30px !important;
  padding-top: 0 !important;
}
.vertical-timeline::before {
  background: #e6e3e3 !important;
}
@media screen and (min-width: 750px) and (max-width: 1023px) {
  .vertical-timeline-element-date {
    font-size: 14px !important;
  }
}
@media screen and (max-width: 749px) {
  .vertical-timeline-element-date {
    font-size: 13px !important;
  }
  hr {
    width: 200px;
  }
  .education-section h1 {
    font-size: 30px;
  }
}
